<!DOCTYPE html>
<html>
<body>
       <title>Google Slides</title>
       <link rel="icon" href=""https://media.flaticon.com/dist/min/img/landing/gsuite/slides.svg>
<h1>Games</h1>
       <a href="https://campusdirections.org/">Campus Directions</a> <br>
       <a href="https://shsgames.github.io/">SHS Games</a> <br>
       <a href="https://simple-education.xyz/">Extreme Math</a> <br>
       <a href="https://games.odd.gay/">Odd Games</a> <br>
       <a href="https://www.coolmathgames.com/">Cool Math Games</a> <br>
       <a href="https://illegalradish.github.io/sokolDoom/">Doom</a> <br>
       <a href="https://browncha023.github.io/GBA/">Game Boy Adcanced</a> <br>
       <a href="https://outred.github.io/">OutRed</a> <br>

<h1>Unblockers</h1>
       <a href="https://campusdirections.org/">Campus Directions</a> <br>
       <a href="https://outred.github.io/">OutRed</a> <br>
       <a href="https://orbitalofficial.net/">Orbital</a> <br>
       <a href="https://elixirofficial.com/">Elixer</a> <br>

<a href="./play">link text</a>

</body>
  
  
</html>
